{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-6' %}
        {% endif %}
        <div class="{{ class }}"> {% if thumb or images %}
      <ul class="thumbnails product-page-image">  
            {% if thumb %}
            <li>
              <ul class="thumbnails-popup">
                <li><a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" class="img-fluid" id="zoom_01" data-zoom-image="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a><li>
                {% if images %}
                {% for image in images %}
                <li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
                {% endfor %}
                {% endif %}
              </ul>  
            </li>
            {% endif %}

            <li class="image-additional">

              <div class="swiper-viewport">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    
                    {% if images %}
                    {% for image in images %}
                    <div class="swiper-slide"><a class="thumbnail" href="{{ image.popup }}" data-resize = "{{ image.resize }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></div>
                    {% endfor %}
                    {% endif %}
                   
                  </div>
                </div>
                <div class="swiper-pager">
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
        </div>
              </div>  
            </li>
            </ul> 
          {% endif %}
        </div>
        {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-6' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="row prod-top">
            <div class="col-xs-3">
              <div class="btn-group">
                <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
              </div>
              <div class="col-xs-4 model-product-mi">
                {{ text_model }} <strong>{{ model }}</strong>
              </div>
              <div class="col-xs-5 stok-product-mi">
               <strong>{{ stock }}</strong>
              </div> 
          </div>
          <hr>
          {% if colorprod %}
          <div class="col-xs-4 sku-product-mi">
             {{ text_colorprod }} <strong>{{ colorprod }}</strong>
          </div>
          {% endif %}
          <h1>{{ heading_title }}</h1>
          {% if price %}
          <ul class="list-unstyled price-wrap">
            {% if not special %}
            <li>
              <div class="spec-price">{{ price }}</div>
            </li>
            {% else %}
            <li class="sale-price"><span style="text-decoration: line-through;">{{ price }}</span></li>
            <li>
              <div class="def-price">{{ special }}</div>
            </li>
            {% endif %}
            {% if tax %}
            <li>{{ text_tax }} {{ tax }}</li>
            {% endif %}
            {% if points %}
            <li>{{ text_points }} {{ points }}</li>
            {% endif %}
            {% if discounts %}
            <li>
              <hr>
            </li>
            {% for discount in discounts %}
            <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
            {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
          {{ prodvar_module }}<div id="product"> {% if options %}
            <h3>{{ option.name }}</h3>
            {% for option in options %}
            {% if option.type == 'select' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option_value in option.product_option_value %}
                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            {% if option.type == 'radio' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label control-label-color"><span>{{ option.name }}</span></label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label"></label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    <span class="label-text">{{ option_value.name }}</span>
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'text' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
            </div>
            {% endif %}
            {% if option.type == 'textarea' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
            </div>
            {% endif %}
            {% if option.type == 'file' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
            </div>
            {% endif %}
            {% if option.type == 'date' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group date">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'datetime' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if recurrings %}
            <hr>
            <h3>{{ text_payment_recurring }}</h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for recurring in recurrings %}
                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                {% endfor %}
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            {% endif %}
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 quantity-product-mi">
                  <label class="control-label" for="input-quantity"><span>Выберите количество</span></label>
                        <div class="input-group number-spinner">
                          <span class="input-group-btn">
                            <button class="btn btn-default" data-dir="dwn"><i class="fa fa-minus"></i></button>
                          </span>
                          <input type="text" name="quantity" value="{{ minimum }}" id="input-quantity" class="form-control text-center" />
                          <span class="input-group-btn">
                            <button class="btn btn-default" data-dir="up"><i class="fa fa-plus"></i></button>
                          </span>
                        </div>
                      <input type="hidden" name="product_id" value="{{ product_id }}" />
                </div>
                <div class="col-xs-12">
                  <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">Добавить в корзину</button>
                </div>

                <div class="col-xs-12">
                            <div class="site-phone_wrap_product">
                              <a href="#callback" class="callback btn btn-default btn-sm">Купить в один клик
                              </a>
                            </div>
                            <div class="hidden">
                              <div id="callback" class="callback-form product-popup"> 
                                  <h2>Заказать обратный звонок</h2>
                                  <p>Введите номер телефона и наш менеджер перезвонит Вам в течение <strong>15 мин</strong>.</p>
                                  <!-- Hidden Required Fields -->
                                  <form class="ajax-form">
                                      <input type="hidden" name="project_name" value="tokoServis">
                                      <input type="hidden" name="admin_email" value="">
                                      <input type="hidden" name="form_subject" value="Перезвоните мне">
                                      <!-- END Hidden Required Fields -->

                                      <input class="form-control" type="text" name="Имя" placeholder="Как к Вам обращаться..."><br>
                                      <input class="form-control" type="text" name="Телефон" placeholder="Введите Ваш номер телефона..." required="">
                                      <button class="btn btn-primary">Заказать</button>

                                  </form>
                                  <div class="success">Спасибо! Ожидайте, мы Вам перезвоним))</div>
                              </div>
                          </div>
                </div>
              </div>
            
            </div> 
            {% if minimum > 1 %}
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
            {% endif %}</div>
          {% if review_status %}
          <div class="rating">
            <p>{% for i in 1..5 %}
              {% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
              {% endfor %} <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a></p>
           <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
            
            {% if attribute_groups %}
            <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
            {% endif %}
            {% if review_status %}

                  <li><a href="#tab-review" data-toggle="tab"></a></li>

            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-description">{{ description }}</div>

            {% if attribute_groups %}
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                <thead>
                  <tr>
                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                  </tr>
                </thead>
                <tbody>
                {% for attribute in attribute_group.attribute %}
                <tr>
                  <td>{{ attribute.name }}</td>
                  <td>{{ attribute.text }}</td>
                </tr>
                {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            {% endif %}
            {% if review_status %}
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2>{{ text_write }}</h2>
                {% if review_guest %}
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block">{{ text_note }}</div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">{{ entry_rating }}</label>
                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;{{ entry_good }}</div>
                </div>
                {{ captcha }}
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                  </div>
                </div>
                {% else %}
                {{ text_login }}
                {% endif %}
              </form>
            </div>
            {% endif %}</div>
            <hr>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <ul class="social-list-product">
            <li>
              <a class="social-button" href="#" rel="noffolow" target="_blank">
                <svg class="icon" viewBox="0 0 32 32" width="32" height="32">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog\view\theme\tokostyle\image\sprite.svg#icon-twitter">Твиттер</use>
                </svg>
              </a>
            </li>
            <li class="social-crook">
              <a class="social-button equalize" href="https://www.facebook.com/iam.toko.f/" rel="noffolow" target="_blank" title="facebook">
                <svg class="icon" viewBox="0 0 24 24" width="32" height="24">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog\view\theme\tokostyle\image\sprite.svg#icon-faseboock">Фейсбук</use>
                </svg>
              </a>
            </li>
            <li class="social-crook">
              <a class="social-button equalize" href="https://www.instagram.com/?hl=uk" rel="noffolow" target="_blank" title="instagram">
                <svg class="icon" viewBox="0 0 24 24" width="24" height="24">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog\view\theme\tokostyle\image\sprite.svg#icon-instagram">Инстаграм</use>
                </svg>
              </a>
            </li>
            <li>
              <div class="site-email_wrap">
                <a class="social-button mailback" href="#mailback" rel="noffolow" target="_blank">
                  <svg class="icon" viewBox="0 0 30 34" width="30" height="34">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog\view\theme\tokostyle\image\sprite.svg#icon-mail">Почта</use>
                  </svg>
                </a>
              </div>
              <div class="hidden">
                <div id="mailback" class="mailback-form product-popup">
                  <h2>{{ text_mailback }}</h2>
                  <p>{{ text_mailback_help }}</p>
                  <form class="ajax-form" action="{{ action }}" method="post"></a>
                    <input type="hidden" name="project_name" value="tokoServis">
                    <input type="hidden" name="admin_email" value="{{ email }}">
                    <input type="hidden" name="form_subject" value="{{ text_mailback_mi }}">
                    <!-- END Hidden Required Fields -->

                    <input class="form-control" type="text" name="{{ text_mailback_name }}" placeholder="{{ text_mailback_handle }}"><br>
                    <input class="form-control" type="text" name="Email" placeholder="{{ text_mailback_email }}" required=""><br>   
                    <textarea  class="form-control" rows="1" cols="56" name="text" placeholder="{{ text_mailback_text }}"></textarea>
                    <button class="btn btn-primary">{{ text_mailback_order }}</button>
                  </form>
                  <div class="success">{{ text_mailback_answer }}</div>
                </div>
              </div>
            </li>
            <li>
              <a class="social-button" href="viber:add?number={{ text_contact_phone_kyivstar }}" rel="noffolow" target="_blank" title="viber">
                <svg class="icon" viewBox="0 0 30 34" width="30" height="34">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog\view\theme\tokostyle\image\sprite.svg#icon-viber">Вайбер</use>
                </svg>
              </a>
            </li>            
            <li>
              <a class="social-button" href="td://resolve?domain=<@toko2019>" rel="noffolow" target="_blank" title="telegram">
                <svg class="icon" viewBox="0 0 30 34" width="30" height="34">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog\view\theme\tokostyle\image\sprite.svg#icon-telegram">Телеграм</use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
          </div>
          {% endif %} </div>
      </div>
      {% if products %}
      <h3 class="toko-rek">Toko рекомендует</h3>
      <div class="container-fluid">  
      <div class="row"> {% set i = 0 %}
        {% for product in products %}
        {% if column_left and column_right %}
        {% set class = 'col-xs-8 col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-xs-6 col-md-4' %}
        {% else %}
        {% set class = 'col-xs-6 col-sm-3' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="product-thumb transition">
            <div class="image"><a href="{{ product.href }}" class="product_zoom"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" style="max-height:{{ product_image_height }}px; width:auto;" /></a></div>
            <div class="caption">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              <p>{{ product.description }}</p>
              {% if product.rating %}
              <div class="rating"> {% for j in 1..5 %}
                {% if product.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
                {% endfor %} </div>
              {% endif %}
              {% if product.price %}
              <p class="price"> {% if not product.special %}
                {{ product.price }}
                {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
              {% endif %} </div>
            <div class="button-group group-mi">
              <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> <i class="fa fa-shopping-cart"></i></button>
              <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
              <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
            </div>
          </div>
        </div>
        {% if column_left and column_right and (i + 1) % 2 == 0 %}
        <div class="clearfix visible-md visible-sm"></div>
        {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
        <div class="clearfix visible-md"></div>
        {% elseif (i + 1) % 4 == 0 %}
        <div class="clearfix visible-md"></div>
        {% endif %}
        {% set i = i + 1 %}
        {% endfor %} </div>
        {% endif %}
        {% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
        {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
    </div>  
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#button-cart').button('loading');
    },
    complete: function() {
      $('#button-cart').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

        $('html, body').animate({ scrollTop: 0 }, 'slow');

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});

$('.datetime').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
  $.ajax({
    url: 'index.php?route=product/product/write&product_id={{ product_id }}',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
    },
    complete: function() {
      $('#button-review').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible').remove();

      if (json['error']) {
        $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').prop('checked', false);
      }
    }
  });
});

      $('.swiper-container').swiper({
        mode: 'horizontal',
        centeredSlides: true,
        slidesPerView: 3,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        loop: true
      });
      
      $(document).ready(function() {
        $('.swiper-containerXXX').magnificPopup({
          type:'image',
          delegate: 'a',
          gallery: {
            enabled: true
          }
        });
      });

$(document).ready(function() {
  $('.thumbnails-popup').magnificPopup({
    type:'image',
    delegate: 'a',
    gallery: {
      enabled: true
    },
    mainClass: 'mfp-with-zoom mfp-img-mobile',
    zoom: {
      enabled: true,
      duration: 300,
      opener: function(element) {
        return element.find('img');
      }
}
  });
});
//--></script>

        <script src="catalog/view/javascript/jquery.elevatezoom.min.js" type="text/javascript"></script>
        <script type="text/javascript"><!--
        $(document).ready(function(){
          $("#zoom_01").elevateZoom({
            cursor:"crosshair",
            responsive: true,
            zoomWindowFadeIn:555,
            zoomWindowFadeOut:833,
            lensFadeIn:555,
            lensFadeOut:555,
            zoomWindowWidth:600,
            zoomWindowHeight:600
          });
        
          $('.thumbnails .image-additional .swiper-viewport .swiper-container .swiper-wrapper .swiper-slide a').on('click', function(e) {
          e.preventDefault();
          $('.thumbnails li a.thumbnail:first img').attr('src', $(this).data('resize') );
          $('.thumbnails li a.thumbnail:first img').data('zoom-image', $(this).attr('href') );
          $(window).resize();
          $('.thumbnails .image-additional .swiper-viewport .swiper-container .swiper-wrapper .swiper-slide a').removeClass('active-slide');
          $(this).addClass('active-slide');
          });
        
        });
        
        $(window).on("resize",function(){
          if ($(this).width() < 900) {
            $("#zoom_01").elevateZoom({cursor:"crosshair", zoomType:"inner", zoomWindowFadeIn:500, zoomWindowFadeOut:750, lensFadeIn:500, lensFadeOut:500, zoomWindowWidth:600, zoomWindowHeight:600});
          } else {
            $("#zoom_01").elevateZoom({cursor:"crosshair",zoomType:"window",zoomWindowFadeIn:500,zoomWindowFadeOut:750,lensFadeIn:500,lensFadeOut:500, zoomWindowWidth:600, zoomWindowHeight:600});
          }
        });
        //--></script>  
{{ footer }} 
