<div class="form-group">
  <label class="col-sm-2 control-label" for="input-prodvar_title">{{ entry_prodvar_title }}</label>
  <div class="col-sm-10">
    {% for language in languages %}
    <div class="input-group pull-left"><span class="input-group-addon"><img src="{{ language['imgsrc'] }}" /> </span>
      <input type="text" name="prodvar_title[{{ language['language_id'] }}]" value="{% if(prodvar_title[language['language_id']]) %}{{prodvar_title[language['language_id']]}}{% endif %}" placeholder="{{ entry_prodvar_title }}" id="input-prodvar_title{{ language['language_id'] }}" class="form-control" />
    </div>
    {% endfor %}
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="input-prodvar_product_str_id">{{ entry_prodvar_product_str_id }}</label>
  <div class="col-sm-10">
    <input type="text" name="prodvar_product_str_id" value="" placeholder="{{ entry_prodvar_product_str_id }}" id="input-prodvar_product_str_id" class="form-control" />
    <div id="product-prodvar_product_str_id" class="well well-sm" style="height: 150px; overflow: auto;">
      {% for prodvar_product_str_id in prodvar_product_str_ids %}
      <div id="product-prodvar_product_str_id{{ prodvar_product_str_id['product_id'] }}"><i class="fa fa-minus-circle"></i> {{ prodvar_product_str_id['name'] }}
        <input type="hidden" name="prodvar_product_str_id[]" value="{{ prodvar_product_str_id['product_id'] }}" />
      </div>
      {% endfor %}
    </div>
  </div>
<script language="javascript">
// prodvar_product_str_id
$('input[name=\'prodvar_product_str_id\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'prodvar_product_str_id\']').val('');

		$('#product-prodvar_product_str_id' + item['value']).remove();

		$('#product-prodvar_product_str_id').append('<div id="product-prodvar_product_str_id' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="prodvar_product_str_id[]" value="' + item['value'] + '" /></div>');
	}
});

$('#product-prodvar_product_str_id').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
</script>
</div>